<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @entry.probability %>
</p>

<p>
  <strong>Image:</strong>
  <%= @entry.image.url %>
</p>

<p>
<strong>Image:</strong>
<%= image_tag @entry.image.url %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
